@inherits LayoutComponentBase

<NavMenu />

<main class="section">
    <div class="container">
        @Body
    </div>
</main>

<div id="blazor-error-ui" data-nosnippet class="notification is-danger is-hidden">
    <button class="delete" onclick="document.getElementById('blazor-error-ui').classList.add('is-hidden')"></button>
    <strong>An unhandled error has occurred.</strong>
    <a href="." class="button is-small is-light ml-2">Reload</a>
</div>