name: Build
permissions:
  contents: read

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest] # Only planning on deploying to linux
        config: [Release]
    
    outputs:
      is_release: ${{ steps.analyze_tag.outputs.is_release}}
      is_prerelease: ${{ steps.analyze_tag.outputs.is_prerelease}}

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5

      - name: Build
        run: dotnet build --configuration Debug
        
      - name: Test
        run: dotnet test -c ${{ matrix.config }} --logger "GitHubActions;report-warnings=false"
        shell: bash

      - id: analyze_tag
        name: Analyze tag
        shell: bash
        run: |
          if [[ ${{ github.ref }} =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+ ]]; then
              echo "Release tag detected"
              echo "::set-output name=is_release::true"
              if [[ ${{ github.ref }} =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+.*- ]]; then
                  echo "Prerelease tag detected"
                  echo "::set-output name=is_prerelease::true"
              fi
          fi
